.jfN4p,
.logo,
.pastdue_popup_v1,
.bg-opacity-50,
.hide,
.sf-modal,
.zone-name-title,
#XCYt6,
#RkQXI5,
.core-msg {
  display: none !important;
}
.access-button,
.am-google-button {
  display: block !important;
}
.hpading {
  margin-bottom: 12% !important;
}
.am-signup-link{
  margin-top: 0px !important;
}
body{
    overflow: visible !important; /* or any other desired value */
    pointer-events: auto !important; /* or any other desired value */
}

/*hide,access-button (this is extesnion related access page code class)*/
/*boddy,bg-opacity-50 (this is aiseo popup block class)*/

