.hide {
  display: none !important;
}
.show,
.am-google-button {
  display: block !important;
}
.hpading {
  margin-bottom: 12% !important;
}

/*hide,show (this is extesnion related access page code class)*/
/*nr9DhCl_ McVQtipP,Envato upgrade Button hide*/
/*boddy,bg-opacity-50 (this is aiseo popup block class)*/
/*#tool ata holo utools er error asle je content show korto sekhane facebook link sili tai ata hide kore deoya hoyese)*/
